<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LLM_API_KEY</key>
    <string>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</string>
    <key>API_PROVIDER</key>
    <string>openrouter</string>
</dict>
</plist>
